body {
  background-color: black;
  margin: 0;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.bar {
  background-color: rgb(39, 50, 56);
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-size: 20px;
}

.menu_img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.login {
  margin-left: 900px;
}

.login_img {
  width: 30px;
  height: 30px;
}

.main_box {
  width: 600px;
  height: 512px;
  background-image: url("./favicon/background.jpg");
  margin: auto;
  padding-top: 100px;
}

.search {
  width: 470px;
  height: 50px;
  background-image: url("./favicon/search.png");
  background-position: right;
  background-size: 40px;
  background-repeat: no-repeat;
}

.chart {
  background-color: rgb(64, 64, 64);
  border-spacing: 0;
  color: white;
  width: 600px;
  height: 120px;
  table-layout: fixed;
  margin-top: 200px;
}

.chart td {
  border: 1px solid white;
  text-align: center;
}

.menu {
  background-color: rgb(39, 50, 56);
  width: 100px;
  height: 130px;
  list-style: none;
  position: fixed;
  border-top: 1px solid white;
}

.menu li {
  padding: 10px;
  text-align: left;
}
