body {
  background-color: black;
  margin: 0;
  text-align: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.bar {
  background-color: rgb(39, 50, 56);
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-size: 20px;
}

.menu_img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.login {
  margin-left: 900px;
}

.login_img {
  width: 30px;
  height: 30px;
}

.main_box {
  width: 900px;
  height: 512px;
  margin: auto;
  padding-top: 100px;
}

.search {
  width: 470px;
  height: 50px;
  background-image: url("./favicon/search.png");
  background-position: right;
  background-size: 40px;
  background-repeat: no-repeat;
}

.menu {
  background-color: rgb(39, 50, 56);
  width: 100px;
  height: 130px;
  list-style: none;
  position: fixed;
  border-top: 1px solid white;
}

.menu li {
  padding: 10px;
  text-align: left;
}

.mugic_box {
  background-color: rgb(39, 50, 56);
}

.mugic_table {
  width: 900px;
  table-layout: fixed;
  border-collapse: collapse;
}

.mugic_table tr {
  border-top: 2px solid black;
}

.mugic_number {
  text-align: center;
  padding: 10px;
  width: 30px;
}

.mugic_img {
  width: 50px;
  height: 50px;
}

.mugic_img img {
  width: 50px;
  height: 50px;
}

.mugic_name {
  text-align: center;
  padding: 10px;
  border-right: 2px solid black;
  width: 100px;
}

.mugic_artist {
  text-align: center;
  padding: 10px;
  border-right: 2px solid black;
  width: 150px;
}

.mugic_album {
  text-align: center;
  padding: 10px;
  width: 400px;
}

.mugic_add {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid white;
  width: 35px;
  height: 35px;
  line-height: 30px;
}
