{% load static %}

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <title>PlayListPro</title>
  </head>
  <body>
    <div class="bar">
      <div>
        <img src="{% static '/favicon/menu.png' %}" class="menu_img" />
      </div>
      <div class="title"><a href="/">PlayListPro</a></div>

      <div class="login">
        <a href="/login">Login </a>
      </div>
      <div>
        <a href="/profile"
          ><img src="{% static '/favicon/login.png' %}" class="login_img"
        /></a>
      </div>
    </div>

    <div class="menu">
      <li><a href="/">home</a></li>
      <li><a href="/search">search</a></li>
      <li><a href="/myplaylist">playlist</a></li>
    </div>

    <div class="main_box">
      <form action="/search">
        <input
          type="text"
          class="search"
          placeholder="찾고싶은 곡을 검색하세요"
        />
      </form>

      <div>
        <table class="chart">
          <tr>
            <td colspan="4" style="height: 20px">인기차트</td>
          </tr>
          <tr>
            <td>전체 TOP</td>
            <td>발라드</td>
            <td>팝스타</td>
            <td>ROCK</td>
          </tr>
          <tr>
            <td>힙합</td>
            <td>댄스</td>
            <td>R&B</td>
            <td>인디뮤직</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
<script src="{% static 'main.js' %}"></script>
