{% load static %}

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <title>PlayListPro</title>
  </head>
  <body>
    <div class="bar">
      <div>
        <img src="{% static '/favicon/menu.png' %}" class="menu_img" />
      </div>
      <div class="title"><a href="/">PlayListPro</a></div>

      <div class="login">
        <a href="/login">Login </a>
      </div>
      <div>
        <a href="/profile"
          ><img src="{% static '/favicon/login.png' %}" class="login_img"
        /></a>
      </div>
    </div>

    <div class="menu">
      <li><a href="/">home</a></li>
      <li><a href="/search">search</a></li>
      <li><a href="/myplaylist">playlist</a></li>
    </div>

    <div class="main_box">
      <form action="/search" method="POST">
        {% csrf_token %}
        <input
          type="text"
          class="search"
          placeholder="찾고싶은 곡을 검색하세요"
          id="query"
          name="query"
          autocomplete="off"
        />
      </form>

      <table class="chart">
        <tr>
          <td colspan="4" style="height: 20px">인기차트</td>
        </tr>
        <tr>
          <td onclick="submitForm('top','전체 TOP')"><a>전체 TOP</a></td>
          <td onclick="submitForm('k-po','K-POP')"><a>K-POP</a></td>
          <td onclick="submitForm('Korean-indie','인디뮤직')">
            <a>인디뮤직</a>
          </td>
          <td onclick="submitForm('korean underground rap','힙합')">
            <a>힙합</a>
          </td>
        </tr>
        <tr>
          <td onclick="submitForm('k-rap','랩')"><a>랩</a></td>
          <td onclick="submitForm('pop','팝송')"><a>팝송</a></td>
          <td onclick="submitForm('r&b','R&B')"><a>R&B</a></td>
          <td onclick="submitForm('korean rock','ROCK')"><a>ROCK</a></td>
        </tr>
      </table>

      <form id="myForm" method="post" action="/topChart">
        {% csrf_token %}
        <input type="hidden" name="genre" id="genre" />
        <input type="hidden" name="genre_name" id="genre_name" />
      </form>
    </div>
  </body>
</html>
<script src="{% static 'main.js' %}"></script>
