{% load static %}

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'search.css' %}" />
    <title>Search</title>
  </head>
  <body>
    <div class="bar">
      <div>
        <img src="{% static '/favicon/menu.png' %}" class="menu_img" />
      </div>
      <div class="title"><a href="/">PlayListPro</a></div>

      <div class="login">
        <a href="/login">Login </a>
      </div>
      <div>
        <a href="/profile"
          ><img src="{% static '/favicon/login.png' %}" class="login_img"
        /></a>
      </div>
    </div>

    <div class="menu">
      <li><a href="/">home</a></li>
      <li><a href="/search">search</a></li>
      <li><a href="/myplaylist">playlist</a></li>
    </div>

    <div class="main_box">
      <form method="POST" action="/search">
        {% csrf_token %}
        <input
          type="text"
          class="search"
          placeholder="찾고싶은 곡을 검색하세요"
          id="query"
          name="query"
        />
      </form>
    </div>
  </body>
</html>
<script src="{% static 'main.js' %}"></script>
