{% load static %}

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'searchResult.css' %}" />
    <title>Search</title>
  </head>
  <body>
    <div class="bar">
      <div>
        <img src="{% static '/favicon/menu.png' %}" class="menu_img" />
      </div>
      <div class="title"><a href="/">PlayListPro</a></div>

      <div class="login">
        <a href="/login">Login </a>
      </div>
      <div>
        <a href="/profile"
          ><img src="{% static '/favicon/login.png' %}" class="login_img"
        /></a>
      </div>
    </div>

    <div class="menu">
      <li><a href="/">home</a></li>
      <li><a href="/search">search</a></li>
      <li><a href="/myplaylist">playlist</a></li>
    </div>

    <div class="main_box">
      <form method="POST" action="/search">
        {% csrf_token %}
        <input
          type="text"
          class="search"
          value="{{query}}"
          id="query"
          name="query"
        />
      </form>

      <div class="mugic_box">
        <div class="mugic_box_bar">"{{query}}"의 검색 결과입니다.</div>
        {% if results %}
        <div>
          <table class="mugic_table">
            {% for track in results %}
            <tr>
              <td class="mugic_number">{{ forloop.counter }}</td>
              <td class="mugic_img">
                <img src="{{ track.album.images.0.url }}" alt="no image" />
              </td>
              <td class="mugic_name">{{ track.name }}</td>
              <td class="mugic_artist">{{ track.artists.0.name }}</td>
              <td class="mugic_album">{{ track.album.name }}</td>
              <td><div class="mugic_add">+</div></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% else %}
        <p>No results found.</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
<script src="{% static 'main.js' %}"></script>
