{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'topChart.css' %}" />
    <title>topChart</title>
  </head>
  <body>
    <div class="bar">
      <div>
        <img src="{% static '/favicon/menu.png' %}" class="menu_img" />
      </div>
      <div class="title"><a href="/">PlayListPro</a></div>

      <div class="login">
        <a href="/login">Login </a>
      </div>
      <div>
        <a href="/profile"
          ><img src="{% static '/favicon/login.png' %}" class="login_img"
        /></a>
      </div>
    </div>

    <div class="main_box">
      <table class="chart">
        <tr>
          <td colspan="4" style="height: 20px">인기차트</td>
        </tr>
        <tr>
          <td onclick="submitForm('top','전체 TOP')"><a>전체 TOP</a></td>
          <td onclick="submitForm('k-po','K-POP')"><a>K-POP</a></td>
          <td onclick="submitForm('Korean-indie','K-indie')">
            <a>K-indie</a>
          </td>
          <td onclick="submitForm('korean underground rap','K-Hip-Hop')">
            <a>K-Hip-Hop</a>
          </td>
        </tr>
        <tr>
          <td onclick="submitForm('korean-R&B','K-R&B')"><a>K-R&B</a></td>
          <td onclick="submitForm('pop','POP')"><a>POP</a></td>
          <td onclick="submitForm('r&b','R&B')"><a>R&B</a></td>
          <td onclick="submitForm('hip-hop','Hip-Hop')"><a>Hip-Hop</a></td>
        </tr>
      </table>

      <form id="myForm" method="post" action="/topChart">
        {% csrf_token %}
        <input type="hidden" name="genre" id="genre" />
        <input type="hidden" name="genre_name" id="genre_name" />
      </form>

      <div class="mugic_box">
        <div class="mugic_box_bar">{{select_genre_name}} 인기 순위</div>
        {% if results %}
        <div>
          <table class="mugic_table">
            {% for track in results %}
            <tr>
              <td class="mugic_number">{{ forloop.counter }}</td>
              <td class="mugic_img">
                <img src="{{ track.album.images.0.url }}" alt="no image" />
              </td>
              <td class="mugic_name">{{ track.name }}</td>
              <td class="mugic_artist">{{ track.artists.0.name }}</td>
              <td class="mugic_album">{{ track.album.name }}</td>
              <td><div class="mugic_add">+</div></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% else %}
        <p>No results found.</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
<script src="{% static 'main.js' %}"></script>
