<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--main 아래에 넣으려했는데 넣으니까 글씨까안보여서 일단여기다해놨음ㅋㅋ-->
    <form method="post">
          {% csrf_token %}
          <label for="genre">Genre:</label>
          <select name="genre">
              <option value="">--Choose a genre--</option>
              <option value="k-pop">K-Pop</option>
              <option value="Korean-indie">K-indie</option>
              <option value="korean pop">korean pop</option>
              <option value="korean rock">K-rock</option>
              <option value="korean underground rap">korean underground rap</option>
              <option value="k-rap">k-rap</option>
              <option value="korean-R&B">K-R&B</option>
              <option value="korean-Indie Rock">K-Indie Rock</option>
              <option value="pop">pop</option>
              <option value="r&b">R&B</option>
              <option value="hip-hop">Hip-Hop</option>

          </select>
          <input type="submit" value="Show">
          {% if results %}
            <h2>Search Results:</h2>
            <ul>
                {% for track in results %}
                <li><img src="{{ track.album.images.0.url }}" alt="no image" style="max-width : 50px; height : auto">{{ forloop.counter }}. {{ track.name }} - {{ track.artists.0.name }} ({{ track.album.name }})</li>
                {% endfor %}
            </ul>
          {% endif %}
    </form>

</body>
</html>