.chart {
  margin-left: 200px;
  font-family: ABeeZee;
}

@font-face {
  font-family: "ABeeZee";
  src: url("../../public/ABeeZee-Regular.ttf") format("truetype");
}

.chart_container {
  background: rgba(142, 124, 237, 0.2);
  display: grid;
  grid-template-columns: repeat(
    4,
    180px
  ); /* 1행에 4개의 아이템, 각각 150px 너비 */
  grid-gap: 20px; /* 플레이리스트 박스 사이에 간격 추가 */
  max-width: max-content; /* 최대 너비를 요소 4개 크기로 제한 */
  grid-template-rows: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* 행 높이 유연하게 설정 */
  padding: 0px 30px;
}

.chart_box {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.3s ease; /* 트랜지션을 추가하여 부드러운 애니메이션 설정 */
  cursor: pointer;
}

.click_chart_box {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(180, 172, 255, 0.8);
  border-radius: 10px;
  transition: background-color 0.3s ease; /* 트랜지션을 추가하여 부드러운 애니메이션 설정 */
  cursor: pointer;
}

.genre {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  margin-top: 10px;
  line-height: 26px;
  letter-spacing: 0em;
}

.chart_container img {
  width: 150px;
  height: 150px;
}
